<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feasycom.s_port">

    <!-- 蓝牙SPP权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 蓝牙BLE权限 -->
    <uses-feature android:name="android.hardware.bluetooth_le" />

    <!-- 安卓6蓝牙权限，必须打开定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />

    <!-- 文件数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 向SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 添加可以向外拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!--
    摇一摇权限
    <uses-permission android:name="android.permission.VIBRATE"/>
    -->
    <application
        android:name="sie.amplifier_conctroller.Sie_app_data_share"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="sie.amplifier_conctroller.ui.dsp_main">

             <!--<activity android:name=".TabActivity">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".communication.MainActivity" />
         <!--<activity android:name="sie.amplifier_conctroller.ui.dsp_main"/>-->
        <activity android:name=".TabActivity" />
        <activity android:name=".setting.SettingActivity" />
        <activity android:name=".about.AboutActivity" />
        <activity
            android:name="sie.amplifier_conctroller.CommunicationChat"
            android:screenOrientation="portrait" />
        <activity
            android:name="sie.amplifier_conctroller.ui.dsp_setting"
            android:label="@string/title_activity_dsp_setting" />
        <activity
            android:name="sie.amplifier_conctroller.ui.dsp_setting_delay"
            android:label="@string/title_activity_dsp_setting_delay" />
        <activity
            android:name="sie.amplifier_conctroller.ui.dsp_setting_chanel"
            android:label="@string/title_activity_bsp_setting_chanel" />
        <activity
            android:name="sie.amplifier_conctroller.ui.dsp_setting_main"
            android:label="@string/title_activity_dsp_setting_main" />


        <activity android:name=".dsp_setting_fq_dv" />
        <activity android:name="sie.amplifier_conctroller.ui.dsp_setting_fq_dv" />
        <activity android:name="sie.amplifier_conctroller.Sie_app_data_share"></activity>
    </application>

</manifest>